
 
#icones img{
    width: 5%;
    height: 3%;
    margin-top: 30px;
}




#icones2 img{
    width: 30%;
    height: 15%;
    display: flex;
    
}

#icones h1{
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#icones p{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

header img{
    width: 25%;
    height: 100%;
}

#redes{
    display: flex;
    margin-top: 30px;
      
}

header{
    background-color: rgb(54, 54, 58);
}

.col-3{
    border-radius: 50%;
    margin: 10px 5px; 

}

.col-6{
    margin: 0 40px 0 40px;
    color: white;
}

.linkDasRedes{
    margin-top: 50px;
    
}

.linkDasRedes a {
    margin: 0 30px; 
    color: aliceblue;
    font-size: 20px;

    
} 



